{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "rules": {
    "no-console": "off",
    "quotes": [
      "error",
      "double"
    ],
    "no-multiple-empty-lines": [
      1,
      {
        "max": 1
      }
    ]
  }
}